<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [70]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\t2214623\appdata\roaming\python\python311\site-packages (1.3.9)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

^C

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [19]:
import csv, sqlite3,ibm_db_sa,sql

con = sqlite3.connect("my_data3.db")
cur = con.cursor()

In [23]:
#!pip install pandas
!pip install --upgrade ipython-sql
#%pip show ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\t2214623\appdata\roaming\python\python311\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython-sql) (8.14.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/67/e7/7c77fd5290646f929b499992607cf1bc940573098a593080fcc8f7e13a08/SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.19.0)
Requirement already satisfied: matplotlib-inline in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\t2214623\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 653.6 kB/s eta 0:00:04
   -- ------------------------------------- 0.1/2.1 MB 1.1 MB/s eta 0:00:02
   ---- ----------------------------------- 0.2/2.1 MB 1.6 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 2.6 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 3.0 MB/s eta 0:00:01
   ---------------------- ----------------- 1.1/2.1 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.9 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.23

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
%sql sqlite:///my_data3.db

Traceback (most recent call last):
  File "C:\Users\t2214623\AppData\Roaming\Python\Python311\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data3.db'])

In [14]:
import pandas as pd
df = pd.read_csv("~/Downloads/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [17]:
cur.execute("create table SPACEXTABLE as select * from SPACEXTBL where Date is not null")
result = cur.fetchall()

#%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

OperationalError: table SPACEXTABLE already exists

In [51]:
#
# #sql magic commands returned an error, building query and dataframe manually
# 
cur.execute('''
select * from spacextable
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,6/4/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,12/8/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,10/8/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,3/1/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,11/5/2020,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,16/11/2020,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,21/11/2020,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,25/11/2020,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,12/6/2020,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [52]:
cur.execute('''
Select distinct "Launch_Site" from SpaceXTable
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [53]:
cur.execute('''
select * from SPACEXTABLE WHERE "Launch_Site" like "CCA%" limit 5
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,6/4/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,12/8/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,10/8/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,3/1/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [54]:
cur.execute('''
select sum("PAYLOAD_MASS__KG_") from spacextable where customer = 'NASA (CRS)'
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

   sum("PAYLOAD_MASS__KG_")
0                     45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [55]:
cur.execute('''
select avg(payload_mass__kg_) from spacextable where booster_version = 'F9 v1.1'
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

   avg(payload_mass__kg_)
0                  2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [56]:
cur.execute('''
select min(date) from spacextable where landing_outcome = 'Success (ground pad)'
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

  min(date)
0  1/8/2018

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [57]:
cur.execute('''
select booster_version 
from spacextable 
where landing_outcome = 'Success (drone ship)' 
and payload_mass__kg_ between 4000 and 6000
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [58]:
cur.execute('''
select case
 when mission_outcome like 'Failure%' then 'Failure' 
when mission_outcome like 'Success%' then 'Success' end as outcomes, 
count(*) as total_number 
from spacextable 
group by outcomes
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

  outcomes  total_number
0  Failure             1
1  Success           100

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [59]:
cur.execute('''
select booster_version 
from spacextable
where payload_mass__kg_ = ( 
    select max(payload_mass__kg_) 
    from spacextable
    )
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [60]:
cur.execute('''
select substr(date, 4, 2) as month, date, booster_version, launch_site, landing_outcome 
from spacextable
where landing_outcome = 'Failure (drone ship)' 
and substr(date, 7, 4) = '2015'
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

  month        Date Booster_Version  Launch_Site       Landing_Outcome
0    04  14/04/2015   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [61]:
cur.execute('''
select landing_outcome, count(*) as total
from spacextable
where date between '04-06-2010' and '20-03-2017' 

group by landing_outcome 
order by total desc
''')
result = cur.fetchall()
cols =list(cur.description)

df = pd.DataFrame(result)
df_cols = []
for index, col in enumerate(cols):
    df_cols.append(cols[index][0])
    
df.columns = df_cols
df

        Landing_Outcome  total
0               Success     15
1            No attempt      6
2  Success (ground pad)      5
3  Success (drone ship)      5
4  Failure (drone ship)      4
5               Failure      3
6    Controlled (ocean)      3
7   Failure (parachute)      1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>